{#
/**
 * @file
 * Theme override to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 */
#}
<div class="owl-carousel-item position-relative">
    {% set image = fields.field_entete_image_de_fond.content %}
    {% set image_with_class = image|replace({'<img': '<img class="img-fluid" '}) %}
    {{ image_with_class|raw }}
  <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
      <div class="container">
          <div class="row justify-content-start">
              <div class="col-sm-10 col-lg-8">
                  <h5 class="text-primary text-uppercase mb-3 animated slideInDown">{{ fields.field_titre_entete_niveau_1.content|striptags|raw }}</h5>
                  <h1 class="display-3 text-white animated slideInDown">{{ fields.field_titre_entete.content|striptags|raw }}</h1>
                  <div class="fs-5 text-white mb-4 pb-2">{{ fields.body.content|striptags|raw }}</div>
                  <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Voir plus</a>
                  <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Join Now</a>      
              </div>
          </div>
      </div>
  </div>
</div>
